{% extends 'template_base.html' %}
{% load static %}

{% block content %} 

<section class="conteudo">
    <section class="imagem">
        <div class="imagem__conteudo">
            <img class="imagem__imagem" src="{{ object.image.url }}">
            <div class="imagem__info">
                <div class="imagem__texto">
                    <p class="imagem__titulo">{{ object.title }} - {{ object.image_source }}</p>
                    <p class="imagem__descricao">{{ object.date_image }}</p>
                    <p class="imagem__texto">{{ object.description }}</p>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}
